body {
    background-color: azure;
    text-align: center;
}

form {
    margin: auto;
    margin-top: 10%;
    padding: 5% 6% 10% 6%;
    width: 250px;
    background-color: rgb(155, 206, 242);
    border-radius: 20px;
}

#section {
    margin: auto;
    margin-top: 10%;
    padding: 5% 6% 10% 6%;
    width: 250px;
    background-color: rgb(155, 206, 242);
    border-radius: 20px;
}

.pressers {
    width: 50%;
    height: 50px;
    border-radius: 5px;
    border-width: 0px;
}

input::placeholder {
    text-align: center;
}

input {
    border-radius: 5px;
    border-width: 0px;
    height: 50px;
    width: 50%;
    text-align: center;
}

select {
    height: 50px;
    width: 50%;
    border-width: 0px;
    border-radius: 5px;
    text-align: center;
}